<h1>LISTA DE COMICS</h1>

{{#if comics}}
    {{> tableComic}}
    {{else}}
    <p>No se encontraron datos</p>
{{/if}}


<div class="text-center">
    <a href="/" class="btn btn-danger" > <-- Home</a>
</div>