<h1>Ingrese</h1>

<h2>Datos Clientes</h2>
{{> form}}

<div class="text-center">
	<a href="/customers" class="btn btn-dark" >Ver Clientes</a>
</div>

<h2>Datos Comics</h2>
<small>Transmetropolitan#1 - 100 - "./img/Trans01.jpeg"</small>
{{> formComics}}


<div class="text-center my-2">
	<a href="/comics" class="btn btn-dark" >Ver Comics</a>
</div>