include comicTable

<!DOCTYPE html>  
html(lang='en')  
    head
        meta(charset='utf-8')
        title Comics-pug
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    body
        h1 comic table
        div.container
            //- MIXINS
            +mix-comics(comics)
            //- INCLUDE Partials
            //- include /partials/comicTable

            a.btn.btn-danger(href="/") <-- Home
