div
    h3 Historico de comic

    if comics.length 
        table.table
            thead
            tr
                th(scope='col') Title
                th(scope='col') Price
                th(scope='col') Thumbnail

            each c in comics
                tr
                    td #{c.title}
                    td #{c.price}
                    td
                        img(src=c.thumbnail alt=c.title  width='50')

    else 
        p No se encontraron datos