<h1>LISTA DE CLIENTES</h1>

{{#if customers}}
    {{> table}}
    {{else}}
    <p>No se encontraron datos</p>
{{/if}}


<div class="text-center">
    <a href="/" class="btn btn-danger" > <-- Home</a>
</div>