//- include comicTable

<!DOCTYPE html>
html(lang='en')  
    head
        meta(charset='utf-8')
        title pug
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
    body
        h1 Pagina de inicio
        div.container
            small INGRESE:
            small Transmetropolitan#1 - 100 - "./img/Trans01.jpeg"
            form(method="post", action="/api/comics")
                label Title
                input(type="text", name="title")
                label Price
                input(type="text", name="price")
                label Thumbnail
                input(type="text", name="thumbnail")
                button(type="submit") Enviar

            //- MIXINS
            //- +mix-comics(comics)
            //- INCLUDE Partials
            include /partials/comicTable 

            a.btn.btn-danger(href="/comics") Comics -->
