{{!-- <form action='/api/comics' method='post' class='container col-sm-12' id='form'> --}}
<form class='container col-sm-12' id='form'>

  <div class='mb-3'>
    <label for='name' class='form-label'>Titulo</label>
    <input type='text' class='form-control' id='title' name='title' aria-describedby='emailHelp' placeholder='Transmetropolitan#1'  required />
  </div>

  <div class='mb-3'>
    <label for='price' class='form-label'>Precio</label>
    <input type='text' class='form-control' id='price' name='price' aria-describedby='emailHelp' placeholder='100' required />
  </div>
  <div class='mb-3'>
    <label for='thumbnail' class='form-label'>Ruta Foto</label>
    <input type='text' class='form-control' id='thumbnail' name='thumbnail' aria-describedby='emailHelp' placeholder='./img/Trans01.jpeg' required />
  </div>

  {{!-- <button type='submit' class='btn btn-primary' id="SubmitBtn">Submit</button> --}}
  <button class='btn btn-primary' id="SubmitBtn">Guardar</button>

</form>