<table class='table'>
  <thead>
    <tr>
      <th scope='col'>ID</th>
      <th scope='col'>Nombre</th>
      <th scope='col'>Edad</th>
      <th scope='col'>Foto</th>
    </tr>
  </thead>
  <tbody>
    {{#each customers}}
      <tr>
        <th scope='row'>{{this.id}}</th>
        <td>{{this.name}}</td>
        <td>{{this.age}}</td>
        <td>
          <img src={{this.picture}} alt='' width='50' />
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>